.WebLayout{
	min-width: 1024px;
	min-height: 768px;
	
	width: 1024px;
	height: 768px;
	position: relative;;
	top: 0px;
	left: 50%;
	margin-left: -512px;

}

.topArea{
	width: 1024px;
	height: 160px;
	position: fixed;
	top:0%;
	left: 50%;
	margin-left: -512px;
	z-index: 1;
	background-color: RGBA(255,255,255,0.50);
	/* margin: 0 auto 0 auto; */
	/* margin: auto auto auto auto; */

}
.WebNameDiv{
	border-style: outset;
	border-color: black;
	border-width: 5px;
	width: 150px;
	padding:5px;
	background-color: white;
	font-weight: bold;
	font-size: 30px;
	/* font-size: 30; */
	/* position: static; */
	/* margin-top: -2%; */
	position: absolute;
	top:5%;
	left:0%; 
	/* margin-left: 0%; */
    
}

body {
	background-image: url("Image/web-bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-color: rgb(255,255,255);	
	font-family: "Times New Roman", "Microsoft JhengHei UI";
}


.titleDiv {
	font-size: 45px;
	/* font-size: 50px; */
	font-weight: bold;
	background-color: #FFFFFF;
	height: auto;
	width: 400px;
	
	/* margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto; */
	border: 3px outset #000000;
	/* position: static; */
	position: absolute;
	top:0%;
	left:50%; 
    margin-left: -200px;
	

	text-transform: capitalize;
	font-style: normal;
	text-align: center;
}


.LoginArea {
	/* font-family: "Times New Roman", "Microsoft JhengHei UI"; */
	/* font-size: 16px; */
	/* font-weight: bolder; */
	/* position: static; */
	width: 200px;
	height: auto;
	/* margin-top: 1%;
	margin-right: 0%;
	margin-bottom: auto;
	margin-left: auto; */
	position: absolute;
	top: 5%;
	right: 0%;
	/* margin-right: -100px; */
	
}
.loginTable{
	/* border-color: #000000; */
	/* border-width: 0px; */
	/* border-style: solid; */
	
	width: 200px;
	
}
.inputText{
	font-size: 14px;
	font-weight: bolder;
	width: 100px;
	height: 25px;
	border: 2px double #FFFFFF;
	background-color: RGBA(0,0,0,0.50);
	color: white;
	margin-top: auto;
	margin-right: 0%;
	margin-left: 0%;
	margin-bottom: auto;
}
::-webkit-input-placeholder {
	color: #BBBBBB;
}
.LoginButton{
	font-size: 14px;
	font-weight: bold;
	width: 96px;
	height: 25px;
	margin-top: auto;
	margin-right: 0%;
	margin-left: 0%;
	margin-bottom: auto;
	/* position: static; */
	border: 2px inset #000000;
}

.RegisterButton{
	font-size: 14px;
	font-weight: bold;
	width: 200px;
	height: 25px;
	margin-top: 0%;
	margin-right: 0%;
	margin-left: auto;
	margin-bottom: auto;
	/* position: static; */
	background-color: #00DB00; 
}

.TopDiv{
	/* font-size: 1.5vmin; */
	/* font-weight: bold; */
	height: 70px;
	width: 600px;
	
	border-style: outset;
	border-top:3px outset #000000;
	border-left:3px outset #000000;
	border-right:3px outset #000000;
	border-bottom: 0px;
	
	/* margin-top: -5%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto; */
	background-color: RGBA(255,255,255,0.80);
	padding: 0 0 0 0;
	position: absolute;
	top: 67px;
	left: 50%;
	margin-left: -303px;
	margin-bottom: 0;
}

.TopHr{
	border: 0px;
	background-color: rgba(0,0,0,0.60);
	height: 20px;

	width: 1024px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -512px;
	margin-bottom: 0px;
	/* margin-top: 0%;
	margin-right: 0%;
	margin-bottom: auto;
	margin-left: 0%; */
	
}

.SearchTable{
	position: absolute;	
	top:0px;
	border: 0px solid #000000;
	padding: 0% 0% 0% 0%;
	height: 70px;
	width: 600px;
	/* margin-top: 0%;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0%; */
}

.mainDiv{

	height: auto;
	min-height: 600px;
	width: 600px;
	max-width: 600px;
	
	border-style: outset;
	border-top:0px ;
	border-left:3px outset #000000;
	border-right:3px outset #000000;
	border-bottom: 3px outset #000000;
	
	/* margin-top: 0%;*/
	position: relative;
	top :152px;
	left: 50%;
	
	margin-left: -303px;
	/* margin-top: 171px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto; */
	/* top:0px; */
	
	background-color: RGBA(255,255,255,0.80);
	padding: 1% 0 0 0;
	/* position: absolute; */
}

.StoreInfoDiv{
	width: 588px;
	background-color:white;
	border: 3px solid #000000;
	margin : 0% auto 1% auto ;
	position: static;
}
.StoreInfoDiv:hover{
	background-color: yellow;
}

.StoreInfoTable{
	border:3px solid #000000;
	height: 100px;
	width: auto;
	margin: 0px 5px 10px 5px;
	background-color: #FFFFFF;
}
.StoreInfoTable:hover{
	background-color: rgba(255,255,0,0.40);
}

.StoreHrefText{
	font-size:16px; 
	color:#00bfff; 
	font-weight: bold;
	background-color: rgba(0,0,0,0);
	width: 100px;
	border: 0px;
}


img{
	height:70px; 
	width:70px;
	display: block;
	margin:auto;
	/* position: relative;
	top: 0px;
	left: 15px;
	right: auto;
	bottom: auto; */
}

.StoreTopTable{
	height: 68px;
	width: 600px;
	position: relative;
	top: 0px;
	padding: 0 0 0 0;
	border: 0px;
	/* border-collapse:1px; */
}

tr{
	padding: 0 0 0 0;
}
td{
	padding: 0 0 0 0;
}

#sql{
	color:red;
	
}
button{

	font-size: 16px;

}

a{
	text-decoration:none;
	
}

.shopCar{
	width: 220px;
	/* height: 300px; */
	height: auto;
	position: absolute;
	right: -20px;
	top: 170px;
	/* border: 2px solid #000000; */
	/* border-radius: 15px; */
	background-color: RGBA(255,255,255,0.70);
	font-weight: bold;
	font-size: large;
	
	
}

.shopCarTable{
	width: 200px;
	height: 50px;
	border: 2 2 2 2;
	border-collapse:collapse;
	border-radius: 15px;
	padding: 1 1 1 1;
	margin: 2px auto 2px auto;
	overflow: auto;
}

#shopCarHr{
	height: 2px;
	background-color: #000000;
	margin: 0 auto 0 auto;
}

.checkoutButton{
	width: 200px;
	height: 30px;
	position: relative; 
	bottom: 0px;
	left: 10px;
	background-color: rgba(0,255,0,0.80);
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.registerTopDiv{
	width: 600px;
	height: 70px;
	font-size: 35px;
	font-weight: bolder;
	text-align: center;
	/* text-align:top; */
	display: block;
	line-height: 70px;
	/* vertical-align: middle;
	align-items: center; */
}

.registerInput{
	width: 300px;
	height: 30px;
	position: relative;
	
}
.registerInputText{
	
	width: 180px;
	margin: auto 0 auto auto;
}

.registerTd{
	position: absolute;
	 
	right:5px;
}
.LoginErrorDiv{
	color: #FF0000;
	font-weight: bolder;
}